<ul class="list-group">
  <li class="list-group-item" *ngFor="let R of listResidences">
    <img [src]="R.image" alt="{{ R.name }}" width="200" height="150" />
    {{ R.name }}
    <button class="btn btn-primary" (click)="showApartments(R.id)">Show Apartments</button>

    <div *ngIf="selectedResidence === R">
      <div>
        <label for="searchSurface">Search by Surface:</label>
        <input type="number" id="searchSurface" [(ngModel)]="searchSurface" />
        <button (click)="filterApartments()">Search</button>
      </div>

      <div *ngIf="noApartments">
        <p>No Apartment found</p>
      </div>

      <div *ngFor="let A of filteredApartments">
        <h4>{{ A.description }}</h4>
        <p>{{ A.category }}</p>
        <p>{{ A.surface }} m²</p>
        <button (click)="addToFavorites(A)">Like</button>
      </div>
    </div>
  </li>
</ul>

<div>
  <h2>Favorite Apartments</h2>
  <div *ngFor="let favoriteApartment of favoriteApartments">
    <h4>{{ favoriteApartment.description }}</h4>
    <p>{{ favoriteApartment.category }}</p>
    <p>{{ favoriteApartment.surface }} m²</p>
  </div>
</div>
